# Ignorar as pastas Artigos e Figuras
Artigos/
Figuras/

# Ignorar todos os arquivos da pasta, exceto o que desejo rastrear Veja os passos
# Passo 1 -> ignorar todos os arquivos da pasta
MatApoio/*
# Passo 2 -> aplicar a exceção no arquivo/arquivos desejados
!MatApoio/pereira.pdf
!MatApoio/slides_git.pdf

# Ignorar a pasta temp
temp/

# Ignorar arquivos específicos
git_com.txt
git.txt

# Ignorando arquivos de segurança --> boa prática
token_parcial.rtf

# Ignorar todos os arquivos .log, .DS_Store
.log
.DS_Store
